<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inline Modal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open</ion-button>
  <p>{{ message }}</p>
  <ion-modal
    trigger="open-modal"
    (willDismiss)="onWillDismiss($event)"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Confirm Your Details</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Click <strong>confirm</strong> to set your name (Jorge) and age (36)
          or <strong>cancel</strong> to dismiss this modal.
        </p>
        <ion-button
          class="ion-margin"
          shape="round"
          expand="full"
          fill="outline"
          (click)="dismiss()"
          >Cancel</ion-button
        >
        <ion-button
          class="ion-margin"
          shape="round"
          expand="full"
          (click)="confirm()"
          >Confirm</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
